@import '../../assets/styles/_colors.scss';
$primaryColor: #3F7FBF;
$background: url('../pictures/foodBackground.jpg');

:host {
  img {
      margin: 0 auto;
      width: 800px;
      height: auto;
  }
  ngb-carousel {
    background: $background;
    background-size: cover;
  }
}
