<div class="container">
    <div class="col-md-5">
        <div class="form-area">
            <form [formGroup]="recipe" (ngSubmit)="saveForm(recipe)">
            <br style="clear:both">
                        <h3 style="margin-bottom: 25px; text-align: center;">Contact Form</h3>
                        <div class="form-group" formGroupName="recipes">
                            <input type="text" class="form-control" formControlName="title" placeholder="Title" required>
                        </div>
                        <div class="form-group" formGroupName="users">
                            <input type="text" class="form-control" formControlName="name" placeholder="Name" required>
                        </div>
                        <div class="form-group" formGroupName="users">
                            <input type="text" class="form-control" formControlName="email" placeholder="Email" required>
                        </div>
                        <div class="form-group" formGroupName="recipes">
                            <input type="text" class="form-control" formControlName="body" placeholder="Description" required>
                        </div>
                        <div class="form-group" formArrayName="ingredients" *ngFor="let ingredient of recipe.controls.ingredients.controls; let i = index;">
                            <input [formControl]="ingredient" class="form-control" placeholder="Ingredient" required>
                            <button type="button" (click)="removeIngredient(i)" class="btn btn-primary pull-right">Remove Ingredient</button>
                        </div>
                        <button type="button" (click)="addIngredient()" class="btn btn-primary pull-right">Add Ingredient</button>

                        <div class="form-group" formArrayName="steps" *ngFor = "let step of recipe.controls.steps.controls; let i = index">
                            {{i+1}}<input class="form-control" [formControl]="step" id="message" placeholder="Step" maxlength="140">
                            <button type="button" (click)="removeStep(i)" class="btn btn-primary pull-right">Remove Step</button>

                        </div>
                        <button type="button" (click)="addStep()" class="btn btn-primary pull-right">Add Step</button>
            <button type="submit" class="btn btn-primary pull-right">Submit Form</button>
            </form>
        </div>
    </div>
</div>